%legend 
  Accounts
  %span.pull-right
    = link_to icon_link(:plus) + " New Account", new_admin_account_path

%table.table.table-stripped
  %thead
    %th Id
    %th Name
    %th Email
    %th Last Login At
    %th Last Login Ip


  - @accounts.each do |account|
    %tr
      %td= link_to account.id, edit_admin_account_path(account)
      %td= account.name
      %td= account.email
      %td= account.last_login_at
      %td= account.last_login_ip


= paginate @accounts
